<h6>Dashboard</h6>
<h3>Welcome {{name}}</h3>
<p>Your stories</p>
<!-- Check if there are any stories -->
{{#if stories}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through the stories -->
            {{#each stories}}
                <tr>
                    <td><a href="/stories/{{_id}}">{{title}}</a></td> <!-- here it nows we want the story id, because we're in the stories loop -->
                    <td>{{formatDate createdAt 'MMM Do YYYY, hh:mm a'}} <!-- Check moment.js documentation for more info -->
                    </td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td>
                        <a href="/stories/edit/{{_id}}" class="btn btn-float"><i class="fas fa-edit"></i></a>

                        <form action="/stories/{{_id}}" method="POST" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn red" type="submit">
                                <i class="fas fa-trash"></i>

                        </button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You have not created any stories yet.</p>
{{/if}}